<div class="auth-container">
  <div class="auth-card">
    <h2>Login</h2>

    <form (ngSubmit)="login()" #loginForm="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          id="email"
          name="email"
          type="email"
          [(ngModel)]="email"
          placeholder="your@email.com"
          required
          email
        />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          id="password"
          name="password"
          type="password"
          [(ngModel)]="password"
          placeholder="Your password"
          required
        />
      </div>
      <button type="submit" [disabled]="!loginForm.valid">Login</button>

      <p *ngIf="error" class="error-message server-error">{{ error }}</p>
    </form>

    <p class="switch-form-link">
      Don't have an account?
      <a (click)="goRegister()">Sign up here</a>
    </p>
  </div>
</div>
