.search {
  color: #fff;
  text-align: center;

  h2 {
    margin: 1rem 0;
    font-size: 1.5rem;
  }

  .movies-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
  }

  .loading,
  .empty {
    color: #ccc;
    margin-top: 2rem;
  }
}
