.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  color: #fff;
  padding: 1rem 2rem;
  border-bottom: 2px solid #222;

  .navbar__logo {
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;

    .title {
      margin-left: 0.5rem;
      color: #ffcc00;
    }
  }

  .navbar__search {
    display: flex;
    align-items: center;
    input {
      padding: 0.4rem 0.8rem;
      border-radius: 4px 0 0 4px;
      border: none;
      outline: none;
      width: 200px;
    }

    button {
      background-color: #ffcc00;
      border: none;
      padding: 0.4rem 0.8rem;
      border-radius: 0 4px 4px 0;
      cursor: pointer;
    }
  }

  .navbar__actions .login-btn {
    background: transparent;
    color: #fff;
    border: 1px solid #ffcc00;
    border-radius: 4px;
    padding: 0.4rem 0.8rem;
    margin-inline: 30px;
    cursor: pointer;
  }
}
